.beneficiary{
    max-width: 60rem;
    width: 80%;
    margin: 4rem auto;
    @include respond(tablet){
        width:90%;
    }
    &-header{
        font-family: "Noticia Text", 'sans-serif';
        font-weight: 400;
        font-size: 3.2rem;
        color:#212529;
        margin: 7rem auto;
    }
    &-img{
        width: 100%;
    }
    text-align:center;
}