.discount{
    text-align: center;
    font-size: 1.8rem;
    font-family: Questrial, 'sans-serif';
    text-align: center;
    padding: 3rem;
    margin:6rem auto;
    max-width: 120rem;
    p{
        margin:2rem auto;
    }
    h2{
        font-family: 'Noticia Text', sans-serif;
        font-size: 3rem;
        font-weight: 900;
        margin: 5rem auto;
        color:#111111;
    }
    strong{
        font-weight: 900;
    }
}