.prose {
    text-align: center;
   
    width: 80%;
    margin: 4rem auto;
    h2{
        font-family: "Noticia Text", 'sans-serif';
        font-weight: 400;
        font-size: 4.5rem;
        color: #000000;
        margin: 3rem 0 7rem;
    }
    p{
        font-family: Questrial, 'sans-serif';
        font-weight: 400;
        font-size: 1.7rem;
        max-width: 90rem;
        line-height: 4.5rem;
        color: #111;
        margin: 3rem auto 7rem;
    }
}