.risk{
    text-align: center;
    max-width: 120rem;
    width: 80%;
    margin: 4rem auto;
    &-top{
        @include respond(tablet){
            display: block;
        }
        display: flex;
        justify-content: space-between;
        img{
            
        @include respond(tablet){
            width: 70%;
        }
            width: 32%;
        }
    }
    &-bottom{
        margin: 4rem auto;
        img{
            max-width: 60rem;
            width: 70%;
        }
    }

}