.video{
    max-width: 116.7rem;
    margin: 5rem auto;
    display:flex;
    align-items: flex-start;
    @include respond(tablet){
        display: block;
        width: 90%;
        height: auto;
    }
    height: 42rem;
    justify-content: space-between;
    &-header{
        font-size: 2.7rem;
        line-height: 3.8rem;
        margin: 0 0 0;
        word-spacing: 1rem;
        color:#212529;
        font-family: Questrial, 'sans-serif';
        font-weight: 400;
    }
    &-iframe {
        &-iframe{
            width: 100%;
        }
        @include respond(tablet){
            width: 100%;
        }
        width: 48%;
    }
    &-paragraph{
        font-size: 1.8rem;
        line-height:3.4rem;
    }
    &-content{
        @include respond(tablet){
            width: 100%;
            margin:6rem auto;
        }
        font-family: Questrial, 'sans-serif';
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 48%;
    }
}