@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
}

html {
  font-size: 10px;
}

.header {
  background-image: linear-gradient(to right, #20B18B, #177BA8);
  text-align: center;
  padding: 3.3rem 3rem;
  margin: 5rem 0;
}
.header h1 {
  font-family: Questrial, "sans-serif";
  color: #ADD9DA;
  margin: 0;
  font-size: 6rem;
}

.discover {
  margin: 5rem auto;
  display: flex;
  max-width: 116.7rem;
}
@media (max-width: 56.25em) {
  .discover {
    display: block;
    width: 90%;
  }
}
.discover-content {
  max-width: 55.4rem;
  margin-right: 11.6rem;
}
@media (max-width: 56.25em) {
  .discover-content {
    display: block;
    width: 100%;
  }
}
.discover-content-header {
  margin: 0;
  font-family: "Noticia Text", serif;
  font-weight: 300;
  line-height: 4.4rem;
  word-spacing: 1.5rem;
  font-size: 3.2rem;
}
.discover-content-paragraph {
  margin: 2.5rem 0;
  font-family: Questrial, "sans-serif";
  font-size: 1.6rem;
  line-height: 3rem;
}
.discover-content-button {
  padding: 1rem 2rem;
  margin: 2.5rem 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  border-radius: 0.5rem;
  font-family: Questrial, "sans-serif";
  font-size: 2rem;
  line-height: 3rem;
  background-color: #08C9B9;
}
.discover-content-button:hover {
  background-color: #1A9499;
}
@media (max-width: 56.25em) {
  .discover-img-img {
    margin: 0 auto;
    max-width: 80%;
  }
}

.steps {
  max-width: 116.7rem;
  margin: 5rem auto;
  color: #212529;
}
@media (max-width: 56.25em) {
  .steps {
    width: 90%;
  }
}
.steps-container {
  grid-gap: 4rem;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 56.25em) {
  .steps-container {
    display: block;
  }
}
.steps-container-each-header {
  font-weight: 300;
  font-size: 2.6rem;
  font-family: "Noticia Text", serif;
}
.steps-container-each-header-number {
  font-size: 6.4rem;
  color: #26d0a3;
  font-weight: 700;
  font-family: Questrial, "sans-serif";
}
@media (max-width: 56.25em) {
  .steps-container-each-header-number {
    font-size: 4rem;
  }
}
.steps-container-each-paragraph {
  line-height: 3.4rem;
  font-size: 1.7rem;
  font-family: Questrial, "sans-serif";
}
.steps-header {
  font-family: "Noticia Text", serif;
  font-size: 4.8rem;
  font-weight: 300;
  color: #111111;
  text-align: center;
  margin: 5rem auto;
}

.news {
  margin: 5rem auto;
  text-align: center;
}
.news img {
  width: 80%;
}
.news h1 {
  font-size: 4rem;
}

.deal {
  max-width: 116.7rem;
  margin: 5rem auto;
  text-align: center;
}
.deal ul {
  text-align: left;
  margin-left: 5rem;
  list-style: none;
}
@media (max-width: 56.25em) {
  .deal ul {
    width: 90%;
    margin: 3rem auto;
  }
}
.deal ul h3 {
  font-family: "Noticia Text", "sans-serif";
  font-size: 2.8rem;
  font-weight: 300;
  color: #212529;
  margin: 0;
}
.deal ul p {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 400;
  color: #212529;
  line-height: 3.4rem;
}
.deal li {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.deal li span {
  width: 100%;
}
.deal li span:first-child {
  font-weight: 900;
  margin: 1rem 0;
  color: #212529;
  font-size: 3rem;
  width: 5rem;
}
.deal li:first-child {
  margin: 0;
}
.deal h2 {
  font-family: "Noticia Text", "sans-serif";
  font-weight: 400;
  font-size: 4.8rem;
  color: #212529;
  margin: 7rem auto;
}
.deal-container {
  display: flex;
  width: 86%;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 56.25em) {
  .deal-container {
    display: block;
    width: 100%;
  }
}
@media (max-width: 56.25em) {
  .deal {
    display: block;
    width: 90%;
  }
}
.deal img {
  width: 40%;
}
@media (max-width: 56.25em) {
  .deal img {
    width: 90%;
  }
}

.quiz {
  background-image: linear-gradient(to right, #1EA292, #177BA8);
  text-align: center;
  padding: 3.3rem 3rem;
  margin: 5rem 0;
  font-family: "Noticia Text", serif;
  color: #ACD7DC;
}
@media (max-width: 56.25em) {
  .quiz {
    text-align: left;
    padding: 3.3rem 2rem;
  }
}
.quiz-header {
  font-size: 4.9rem;
  font-weight: 400;
  text-decoration: underline;
  margin: 2rem;
}
@media (max-width: 56.25em) {
  .quiz-header {
    font-size: 3.4rem;
    margin: 2rem 0;
  }
}
.quiz-paragraph {
  font-size: 2rem;
  font-weight: 400;
}
.quiz-motto {
  max-width: 110rem;
  font-size: 4rem;
  margin: 4rem auto;
  font-weight: 400;
}
.quiz-anchor {
  padding: 1.4rem 2rem;
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  color: #093538;
  margin: 4rem auto;
  border-radius: 1rem;
  background-color: #ACD7DC;
}

.numbers {
  background-image: linear-gradient(to right, #1EA292, #177BA8);
  text-align: center;
  padding: 3.3rem 3rem 8rem;
  color: #ADD7DB;
  margin: 5rem 0 0;
}
.numbers-header {
  font-size: 4.9rem;
  font-weight: 400;
  font-family: Questrial, "sans-serif";
  margin: 2rem;
}
.numbers-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 56.25em) {
  .numbers-container {
    display: block;
  }
}
.numbers-container-each {
  width: 31%;
  margin-top: 3rem;
  text-align: left;
  display: flex;
}
@media (max-width: 56.25em) {
  .numbers-container-each {
    width: 100%;
  }
  .numbers-container-each:first-child {
    margin-top: 6rem;
  }
}
.numbers-container-each div {
  margin: 0rem 0 0 2rem;
}
.numbers-container-each-icon {
  font-size: 3rem !important;
}
.numbers-container-each h2 {
  font-size: 2.8rem;
  margin: -0.5rem 0;
  font-family: "Noticia Text", "sans-serif";
}
.numbers-container-each p {
  font-family: Questrial, "sans-serif";
  font-size: 1.7rem;
  line-height: 3.4rem;
}
.numbers-inner {
  max-width: 116.7rem;
  margin: 0 auto;
}

.video {
  max-width: 116.7rem;
  margin: 5rem auto;
  display: flex;
  align-items: flex-start;
  height: 42rem;
  justify-content: space-between;
}
@media (max-width: 56.25em) {
  .video {
    display: block;
    width: 90%;
    height: auto;
  }
}
.video-header {
  font-size: 2.7rem;
  line-height: 3.8rem;
  margin: 0 0 0;
  word-spacing: 1rem;
  color: #212529;
  font-family: Questrial, "sans-serif";
  font-weight: 400;
}
.video-iframe {
  width: 48%;
}
.video-iframe-iframe {
  width: 100%;
}
@media (max-width: 56.25em) {
  .video-iframe {
    width: 100%;
  }
}
.video-paragraph {
  font-size: 1.8rem;
  line-height: 3.4rem;
}
.video-content {
  font-family: Questrial, "sans-serif";
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}
@media (max-width: 56.25em) {
  .video-content {
    width: 100%;
    margin: 6rem auto;
  }
}

.different {
  background-color: #F1F8E9;
  padding: 2rem;
}
.different-children-icon {
  margin-right: 2rem;
  font-weight: 100 !important;
  font-size: 3.5rem !important;
}
.different-children-paragraph {
  font-family: Questrial, "sans-serif";
  font-size: 1.7rem;
  line-height: 3.4rem;
  color: #111111;
}
.different-children-title {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 2.8rem !important;
  font-family: "Noticia Text", serif;
}
.different-header {
  font-family: "Noticia Text", serif;
  font-size: 3.2rem;
  font-weight: 300;
  color: #111111;
  text-align: center;
  margin: 5rem auto;
}
@media (max-width: 56.25em) {
  .different-header {
    text-align: left;
  }
}
.different-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}
@media (max-width: 56.25em) {
  .different-container {
    display: block;
  }
}
.different-inner {
  max-width: 116.7rem;
  margin: 5rem auto;
}

.learn {
  padding: 3.3rem 3rem;
  margin: 0 0 5rem 0;
  background-color: #EEEFF0;
}
.learn-header {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  font-family: "Noticia Text", "sans-serif";
  margin: 2rem 0 4rem;
}
.learn-each {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}
.learn-each-icon {
  font-size: 5rem !important;
}
.learn-each p {
  margin-left: 4rem;
  line-height: 3.4rem;
  font-weight: 400;
  font-size: 1.7rem;
}
.learn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 0 8rem;
}
@media (max-width: 56.25em) {
  .learn-container {
    display: block;
  }
}
.learn-inner {
  max-width: 116.7rem;
  margin: 0 auto;
}

.beneficiary {
  max-width: 60rem;
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}
@media (max-width: 56.25em) {
  .beneficiary {
    width: 90%;
  }
}
.beneficiary-header {
  font-family: "Noticia Text", "sans-serif";
  font-weight: 400;
  font-size: 3.2rem;
  color: #212529;
  margin: 7rem auto;
}
.beneficiary-img {
  width: 100%;
}

.notfound {
  font-family: Questrial, "sans-serif";
  width: 80%;
  margin: 2rem auto;
  text-align: center;
  font-size: 2rem;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notfound img {
  margin: 6rem auto;
}

.testimonials {
  padding: 5rem 0;
  background-color: #F1F8E9;
}
.testimonials-container {
  max-width: 116.7rem;
  margin: 5rem auto;
  text-align: center;
}
@media (max-width: 56.25em) {
  .testimonials-container {
    width: 90%;
  }
}
.testimonials-header {
  font-family: "Noticia Text", "sans-serif";
  font-weight: 300;
  font-size: 4.8rem;
  color: #212529;
  margin: 0rem auto;
}
@media (max-width: 56.25em) {
  .testimonials-each {
    margin: 0 auto 7rem;
  }
}
.testimonials-each-content {
  font-family: Questrial, "sans-serif";
  font-weight: 400;
  line-height: 3.4rem;
  color: #111111;
  font-size: 1.7rem;
}
.testimonials-each-author {
  margin-top: 0;
  font-family: "Noticia Text", "sans-serif";
  font-weight: 700;
  line-height: 3.9rem;
  color: #111111;
  font-size: 2.8rem;
}
.testimonials-each-img {
  height: 14rem;
  border-radius: 100%;
  width: 14rem;
}
.testimonials-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6rem;
}
@media (max-width: 56.25em) {
  .testimonials-inner {
    display: block;
  }
}
.testimonials-icon {
  margin: 4rem auto;
  transform: rotate(180deg);
  font-size: 10rem !important;
  color: #C0C0C0 !important;
}

.more {
  text-align: center;
  max-width: 95rem;
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}
.more h2 {
  font-family: "Noticia Text", "sans-serif";
  font-weight: 400;
  font-size: 3.8rem;
  color: #212529;
  margin: 3rem 0 7rem;
}
.more p {
  font-family: Questrial, "sans-serif";
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 3.4rem;
  color: #212529;
  margin: 3rem 0 7rem;
}

.special {
  text-align: center;
  max-width: 120rem;
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}
.special h2 {
  font-family: "Noticia Text", "sans-serif";
  font-weight: 400;
  font-size: 4.5rem;
  color: #000000;
  margin: 3rem 0 7rem;
}
.special-each {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
@media (max-width: 56.25em) {
  .special-each {
    display: block;
    width: 100%;
    margin: 0 auto 4rem;
  }
}
@media (max-width: 56.25em) {
  .special-each {
    text-align: center;
  }
}
.special-each img {
  height: 20rem;
  width: 20rem;
  border-radius: 100%;
}
.special-each-content {
  text-align: left;
  width: 70%;
}
@media (max-width: 56.25em) {
  .special-each-content {
    display: block;
    width: 100%;
  }
}
.special h3 {
  font-family: "Noticia Text", "sans-serif";
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4.5rem;
  color: #111111;
  margin: 3rem 0 0rem;
}
.special p {
  font-family: Questrial, "sans-serif";
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 3.4rem;
  color: #212529;
  margin: 3rem 0 7rem;
}

.document {
  width: 90%;
  margin: 6rem auto;
  font-family: "Noticia Text", sans-serif;
  font-size: 1.6rem;
  line-height: 2.9rem;
}
.document h3 {
  font-weight: 900;
  font-family: "Noticia Text", sans-serif;
  text-align: center;
  font-size: 4rem;
  line-height: 5rem;
  margin: 0 auto 7rem;
}
.document strong {
  display: block;
  margin: 4rem 0 1rem;
}
.document br {
  content: "";
  margin: 1rem;
  display: block;
  font-size: 24%;
}

.prose {
  text-align: center;
  max-width: 120rem;
  width: 80%;
  margin: 4rem auto;
}
.prose-container {
  align-items: flex-start;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.prose-container p:first-child {
  display: block;
  width: 60%;
}
@media (max-width: 56.25em) {
  .prose-container p:first-child {
    width: 100%;
  }
}
.prose-container p:nth-child(2) {
  display: block;
  width: 30%;
  background-image: linear-gradient(to right, #20B18B, #177BA8);
  padding: 2rem;
  color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  font-family: "Noticia Text", sans-serif;
}
.prose-container p:nth-child(2) a {
  color: #fff;
}
@media (max-width: 56.25em) {
  .prose-container p:nth-child(2) {
    width: 100%;
  }
}
@media (max-width: 56.25em) {
  .prose-container p {
    width: 100%;
  }
}
@media (max-width: 56.25em) {
  .prose-container {
    display: block;
    text-align: center;
  }
}
.prose h2 {
  font-family: "Noticia Text", "sans-serif";
  font-weight: 400;
  font-size: 4.5rem;
  color: #000000;
  margin: 3rem 0 7rem;
}
@media (max-width: 56.25em) {
  .prose h2 {
    font-size: 3rem;
  }
}
.prose p {
  font-family: Questrial, "sans-serif";
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 4.5rem;
  color: #111;
  margin: 3rem 0 7rem;
}

.risk {
  text-align: center;
  max-width: 120rem;
  width: 80%;
  margin: 4rem auto;
}
.risk-top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 56.25em) {
  .risk-top {
    display: block;
  }
}
.risk-top img {
  width: 32%;
}
@media (max-width: 56.25em) {
  .risk-top img {
    width: 70%;
  }
}
.risk-bottom {
  margin: 4rem auto;
}
.risk-bottom img {
  max-width: 60rem;
  width: 70%;
}

.limited {
  text-align: center;
  font-size: 2.4rem;
  font-family: Questrial, "sans-serif";
  text-align: center;
  padding: 3.3rem 3rem;
  width: 39rem;
  margin: 0 auto;
  border-radius: 3rem;
  box-shadow: 0 0 3rem 0px rgba(0, 0, 0, 0.5);
  color: #111111;
}
.limited p {
  margin: 2rem auto;
}
.limited h3 {
  font-family: "Noticia Text", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 5rem;
  color: #111111;
}
.limited strong {
  font-weight: 900;
}

.discount {
  text-align: center;
  font-size: 1.8rem;
  font-family: Questrial, "sans-serif";
  text-align: center;
  padding: 3rem;
  margin: 6rem auto;
  max-width: 120rem;
}
.discount img {
  max-width: 100%;
}
.discount p {
  margin: 2rem auto;
}
.discount h2 {
  font-family: "Noticia Text", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  margin: 5rem auto;
  color: #111111;
}
.discount strong {
  font-weight: 900;
}

.footer {
  padding: 2rem;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Noticia Text", "sans-serif";
  background-color: #000;
}
.footer-copyright {
  font-size: 1.6rem;
  padding: 2rem 0;
}
.footer-inner {
  display: flex;
  margin: 1rem auto;
  max-width: 100rem;
  justify-content: space-between;
}
.footer-inner * {
  transition: all 0.2s !important;
  color: #fff !important;
}
.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.footer-links a {
  text-decoration: none;
  margin: 1rem 0;
}
.footer-links a:hover {
  transform: scale(1.04);
}
.footer-socials {
  font-size: 2rem;
  text-align: left;
}
.footer-socials-icon {
  margin: 2rem 2rem 2rem 0;
  font-size: 3rem !important;
}
.footer-socials-icon:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=index.css.map */
